<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <header id="siteHeader" class="siteHeader">
        <div class="container siteHeader__container">
            <div class="headerContainer__imgs">
                <img class="headerContainer__logo"
                     src="https://yt3.googleusercontent.com/c7NTxc7iqbc2NxmqCMIttmXcIOzNrD0GBlaXJf4iHUEEsqFvHQN1IArtYt51PDKjbYrNEjM7RQ=s160-c-k-c0x00ffffff-no-rj"
                     alt="Logo">
            </div>
            <nav class="headerContainer__nav">
                <ul class="headerContainer__ul">
                    <li class="headerContainer__li">
                        <a href="#">
                            <p class="headerContainer__text">nigger1</p>
                        </a>
                    </li>
                    <li class="headerContainer__li">
                        <a href="#">
                            <p class="headerContainer__text">nigger2</p>
                        </a>
                    </li>
                    <li class="headerContainer__li">
                        <a href="#">
                            <p class="headerContainer__text">nigger3</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="siteMain__heroSection"></section>
    </main>
    <footer class="siteFooter">

    </footer>
</div>

</body>
</html>
